*{
  margin: 0;
  padding: 0;
}

.app{
  background-color: hsl(120, 26%, 42%);
  background-size: cover;
  margin: 0;
  padding: 0;
  width: 100vw;
}

.stats {
  background-image: url(./assets/golf-pic.jpeg);
  background-position: center;
  background-size: cover;
  height: 300px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  z-index: 1;
  width: 100%;
  border-bottom: solid 1px var(--primary-color);
  opacity: 0.9;
  height: 75px;
}

.text-large {
  font-size: 24px;
}

.challengeDiv{
  min-height: 200px;
  background-color: white;
}