*{
  margin: 0;
  padding: 0;
}



.app{
  background-color: hsl(120, 26%, 42%);
  background-size: cover;
  margin: 0;
  padding: 0;
}

.stats {
  border-radius: 13px;
  box-shadow: 0 5px 8px 5px #000;
}

.mOpacity {
  background-color: rgb(43, 43, 43);
  opacity: .9;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  z-index: 1;
  width: 100%;
  border-bottom: solid 1px var(--primary-color);
  opacity: 0.9;
  height: 75px;
  margin-bottom: 1rem;
}